rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Temporary open rules for development and demo
    
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
